<?xml version="1.0" encoding="UTF-8"?>
<!-- @see https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html -->
<!-- @see http://logback.qos.ch/manual/appenders.html -->
<!-- @see http://logback.qos.ch/manual/encoders.html -->
<!-- @see spring-boot-1.5.12.RELEASE.jar!/org/springframework/boot/logging/logback/defaults.xml -->
<configuration>

  <!-- provides properties: CONSOLE_LOG_PATTERN, FILE_LOG_PATTERN -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- provides appender: CONSOLE -->
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <!-- logging file prefix -->
  <property name="LOG_FILE" value="${GY_SYNC_LOG_DIR}/spring-web/spring-web"/>

  <!-- logging profile -->
  <include resource="logback-${GY_SYNC_LOG_PROFILE}.xml"/>

</configuration>
